

 #container_home {
  
    width: 50%;
    color: #786753;
    float:center;
    background-color:
    
    }
    #container_navbar {

        width: 70%;
    }


#banner {
    width: 90%;
    }
    #banner2 {
        width: 20%;
        
        }    
    
#footer{
border-color: solid gray 2px;
background-color:#786753;
color:white;
}   

#brown_button {

background-color:#8c9135;
border-color: white;"
}

thead {
background-color:#8c9135;
color:white;
}

#plant_table{

width: 60%;


}